<!DOCTYPE html>
<html lang="en">

<head>
    <title>coronavirus24x7.com | Get Real Time Stats About COVID-19</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        .imgd {
            display: flex;
            justify-content: center;

        }

        .imgd>img {
            margin: 0 !important;
            padding: 0 !important;
            font-size: 0;
            margin-left: -1.1vh !important;
        }

        table,
        table,
        thead,
        tbody,
        tr,
        th,
        td {
            padding: 10px;
        }

        table>* {
            padding: 10px !important;
        }

        section {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 15vh;
            padding-top: 5vh;
        }

        dt {font-size: 31px;
        }
        dd {
            font-size: 23px;
            padding: 5px
            
        }
        .ddd{
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body style="padding-top: 15vh;">
    <div id="progressbar"></div>
    <div id="scrollpath"></div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">CORONAWATCH<small>247</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {{navItem1State}}"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item {{navItem2State}}"><a href="tracker" class="nav-link">Live Tracker</a></li>
                    <li class="nav-item {{navItem3State}}"><a class="nav-link" href="graphs">Graphs</a></li>
                    <li class="nav-item {{navItem4State}}"><a href="global" class="nav-link">Global</a></li>
                    <li class="nav-item {{navItem5State}}"><a class="nav-link" href="prevention">Prevention</a></li>
                    <li class="nav-item active"><a href="future" class="nav-link">future</a></li>
                    <li class="nav-item "><a href="wiki" class="nav-link">Wiki</a></li>
                    <li class="nav-item {{navItem8State}}"><a href="news" class="nav-link">News</a></li>

                    <!-- <li class="nav-item cta"><a href="contact.html" class="nav-link"><span>Get started</span></a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <section>
       <dl>
           <dt>How much time it would take to defeat covid-19 ?</dt>
           <dd>
               &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Talking about the future, currently there are two most trending prediction curve. First is long curve and second one is short curve. First curve shows us the future of how it will result in without doing protective measures. If we avoid doing protective measures, it will result in higher death rate and the duration of war against will be small. What does higher death rate means? There no exact numbers for that but it can be in millions may be in a billion who knows?
<br><br>
<div style="display: flex; justify-content: center "><img height="400px" width="800px" src="https://www.wlrn.org/sites/wlrn/files/styles/x_large/public/202003/covid_curve_screen_shot.png" alt="covid prediction"></div><br><br>
                &nbsp; &nbsp;&nbsp; &nbsp; From the above chart we can see that, Second curve is small but long. It means that it would take more time to defeat covid-19 or to find an vaccine for coronavirus (covid-19). Estimated time could be between few months to few years but the death rate will be lower compared to first curve. It may cause an complete economic crash but life is always greater than money. What does economy even mean without people? This curve would be long but effective way. Many nations are trying to flatten the curve by spreading awareness about social-distancing and to maintain pre-cautions. 

                <br><br>

                &nbsp; &nbsp;&nbsp; &nbsp; Here is a visualization that explains the future of fight against coronavirus based on previous data and the current rate of deaths, spread and recovery from many trustable sources. It's not 100% accurate, it's just prediction based on data.
             <br><br><div class="ddd">   <iframe height="500px" width="90%" src="futureOfCovid" frameborder="0"></iframe></div>
           </dd>
       </dl>
    </section>
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is
                        developed with
                        ❤ by <a href="https://t.me/anikethirpara" target="_blank">Team Codershub</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" /></svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
    <script>
        window.onload = () => {
            let progress = document.getElementById('progressbar')
            let totalHeight = document.body.scrollHeight - window.innerHeight
            window.onscroll = () => {
                let progressHeight = (window.pageYOffset / totalHeight) * 100
                progress.style.height = progressHeight + '%'
            }
            if (window.innerWidth <= 993) {
                document.getElementsByTagName("body")[0].style.padding = 0
            }
        }

    </script>
    <script src='//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js'></script>
    <script>

       window.onload = ()=>{
            if (window.innerWidth <= 993) {
                document.getElementsByTagName("body")[0].style.padding = 0
            }
       }
    </script>
</body>

</html>