<!DOCTYPE html>
<html lang="en">

<head>
    <title>coronavirus24x7.com | Get Real Time Stats About COVID-19</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        @import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400, 600";

        *,
        *::before,
        *::after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }


        .card {
            position: relative;
            border-radius: 6px;
            overflow: hidden;
            background-color: #fafafa;
            border: 0px;
            transition: all 0.3s ease-in-out;
            border-radius: 13px !important
        }

        .card .card-img {
            height: auto;
            width: 100%;
            background-color: #4426a8;
            position: relative;
            background-size: cover;
            background-position: center top;
        }

        .card:hover {
            transform: scale(1.01);
            transition: all 0.5s ease-in-out;
        }

        .card .card-content span {
            margin-bottom: 0.5rem;
            position: relative;
            display: block;
        }

        .card svg {
            position: absolute;
            top: 0;

        }

        .card .card-content {
            width: 100%;
            overflow-x: hidden;
            padding: 10px 20px 30px 20px;
            position: relative;
            overflow-y: hidden;
            background: #fff !important
        }

        .card .card-content .bttn {
            display: inline-block;
            padding: 7px 8px;
            text-align: center;
            border-radius: 3px;
            background-color: #39454b;
            text-decoration: none;
            color: #fff;
            transition: 300ms all;
        }

        .card .card-content .bttn:hover {
            background-color: #3e4c53;
            color: #fff;
        }

        .card .card-content p:first-of-type {
            margin-top: 0px;
            text-align: left;
        }
    </style>
</head>

<body style="padding-top: 15vh;">
    <div id="progressbar"></div>
    <div id="scrollpath"></div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">CORONAWATCH<small>247</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
            <li class="nav-item active {{navItem1State}}"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item {{navItem2State}}"><a href="tracker" class="nav-link">Live Tracker</a></li>
                    <li class="nav-item {{navItem3State}}"><a class="nav-link" href="graphs">Graphs</a></li>
                    <li class="nav-item {{navItem4State}}"><a href="global" class="nav-link">Global</a></li>
                    <li class="nav-item {{navItem5State}}"><a class="nav-link" href="prevention">Prevention</a></li>
                    <li class="nav-item "><a href="future" class="nav-link">future</a></li>
                    <li class="nav-item "><a href="wiki" class="nav-link">Wiki</a></li>
                    <li class="nav-item {{navItem8State}}"><a href="news" class="nav-link">News</a></li>

                    <!-- <li class="nav-item cta"><a href="contact.html" class="nav-link"><span>Get started</span></a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid px-0">
            <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
                <img class="one-third  align-self-end order-md-last img-fluid" src="vectors/sneeze.svg" alt="">
                <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                    <div class="text mt-5">
                        <span class="subheading">COVID-19 LIVE DASHBOARD</span>
                        <h1 class="mb-3"><span>Clean Hands,<br>Saves Lives</span> </h1>
                        <p class="text-uppercase non-boy-font-size">Want to get live updates on coronavirus epidemic?
                            Congrats! You
                            are at right place
                            🎉, click below button
                            to get the overview of COVID-19 cases globally</p>
                        <p><a href="tracker" class="btn btn-primary px-4 py-3">Track COVID-19</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-counter img" id="section-counter">
        <div class="container parallax-window" data-parallax="scroll" data-img-src="./images/coronavirus-world.png">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <span class="subheading">More than {{finalObj.totalCases}} Total Cases
                        Reported World-Wide</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="{{activeCases}}">0</strong>
                                    <span>Active Cases</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="{{totalDeaths}}">0</strong>
                                    <span>Total Deaths</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="{{totalRecovered}}">0</strong>
                                    <span>Total Recovered</span>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="{{seriousCases}}">0</strong>
                                    <span>Live Critical Cases</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-domain">
        <div class="container">
            <div class="row d-flex align-items-center horizontalCenter">
                <h4 class="mb-3" style="margin-top: 5%;"><span>Choose Your Country And Click On Track Button <br>To See
                        The Live Updated Numbers
                    </span> </h4>
                <div class="col-lg-12 p-5 ftco-animate horizontalCenter" style="    padding-top: 2% !important;">

                    <form action="/tracker" class="domain-form d-flex mb-3 horizontalCenter">
                        <div class="form-group domain-select d-flex col-6 text-center">
                            <div class="select-wrap w-100">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                <select name="country" id="" class="form-control">
                                    {{#each countryList}}
                                    <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <input type="submit" class="search-domain btn btn-primary text-center" value="Track">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section style='  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background: linear-gradient(to right, #c471ed, #12c2e9);' class="ftco-section services-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2 class="mb-4">NEWS HIGHLIGHTS</h2>
                </div>
            </div>
            <div class="row mt-5 mb-5" id="cdeck">
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is
                        developed with
                        ❤ by <a href="https://t.me/anikethirpara" target="_blank">Team Codershub</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" /></svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    {{!-- <script src="js/jquery.timepicker.min.js"></script> --}}
    <script src="js/scrollax.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
    <script>
        function handleErrors(request) {
            if (!request.ok) {
                throw Error(request.status)
            }
            return request
        }

        window.onload = () => {
            url = "/corona/rss/type/json?limit=6"
            fetch(url)
                .then(handleErrors)
                .then(function (response) {
                    var responseJson = response.json()
                    return responseJson
                })
                .then(function (data) {
                    data.forEach((value, index, array) => {
                        let valuedescription = value.description
                        imgUrl = value.urlToImage
                        if (value.urlToImage == "" || value.urlToImage == undefined || value.urlToImage == " ") {
                            let imgUrl = "https://www.atms.com.au/wp-content/uploads/2019/10/placeholder-1-1024x683.png?x93630"
                            $("#cdeck").append("<div class='cccd col-xs-12 col-sm-12 col-md-4 d-flex align-items-stretch mb-3'><div class='card'><img class='card-img cimg' src=" + imgUrl + "><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 449'><path d='M-6.84 362.89c28.01-16.38 76.91-39.23 136.86-38.95 14.79.07 54.58.26 97.9 16.84 11.73 4.49 21.07 9.17 40 14.74 13.84 4.07 35.91 10.42 64.22 11.58 21.61.89 38.04-1.61 62.11-5.26 12.27-1.86 27.49-4.66 54.74-8.42 8.4-1.16 17.9-2.4 30.53-2.11 11.83.28 21.61 1.79 28.42 3.16l1.05 96.85-519-1.05c1.06-29.13 2.12-58.25 3.17-87.38z' fill='#fafafa' /></svg><div class='card-content'><h4>" + value.title.substr(0, 40) + "...</h4><span>" + value.source.name + "</span><p>" + valuedescription.substr(0, 250) + "...</p><a href=" + value.url + " class='btn btn-primary px-4 py-3 bttttn  align-self-end mt-auto'target='_blank' style='position: relative; bottom: 0'>Read More</a></div></div></div></div></div >")
                        }
                        if (value.description == undefined || value.description == "" || value.description == " " || value.description.length <= 75) {
                            valuedescription = value.content
                            $("#cdeck").append("<div class='cccd col-xs-12 col-sm-12 col-md-4 d-flex align-items-stretch mb-3' ><div class='card'><img class='card-img cimg' src=" + imgUrl + "><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 449'><path d='M-6.84 362.89c28.01-16.38 76.91-39.23 136.86-38.95 14.79.07 54.58.26 97.9 16.84 11.73 4.49 21.07 9.17 40 14.74 13.84 4.07 35.91 10.42 64.22 11.58 21.61.89 38.04-1.61 62.11-5.26 12.27-1.86 27.49-4.66 54.74-8.42 8.4-1.16 17.9-2.4 30.53-2.11 11.83.28 21.61 1.79 28.42 3.16l1.05 96.85-519-1.05c1.06-29.13 2.12-58.25 3.17-87.38z' fill='#fafafa' /></svg><div class='card-content'><h4>" + value.title.substr(0, 40) + "...</h4><span>" + value.source.name + "</span><p>" + valuedescription.substr(0, 250) + "...</p><a href=" + value.url + " target='_blank' class='btn btn-primary px-4 py-3 bttttn align-self-end mt-auto' style='position: relative; bottom: 0'>Read More</a></div></div></div></div></div >")
                        } else {
                            $("#cdeck").append("<div class='cccd col-xs-12 col-sm-12 col-md-4 d-flex align-items-stretch mb-3'><div class='card'><img class='card-img cimg' src=" + imgUrl + "><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 449'><path d='M-6.84 362.89c28.01-16.38 76.91-39.23 136.86-38.95 14.79.07 54.58.26 97.9 16.84 11.73 4.49 21.07 9.17 40 14.74 13.84 4.07 35.91 10.42 64.22 11.58 21.61.89 38.04-1.61 62.11-5.26 12.27-1.86 27.49-4.66 54.74-8.42 8.4-1.16 17.9-2.4 30.53-2.11 11.83.28 21.61 1.79 28.42 3.16l1.05 96.85-519-1.05c1.06-29.13 2.12-58.25 3.17-87.38z' fill='#fafafa' /></svg><div class='card-content'><h4>" + value.title.substr(0, 40) + "...</h4><span>" + value.source.name + "</span><p>" + valuedescription.substr(0, 250) + "...</p><a href=" + value.url + " class='btn btn-primary px-4 py-3 bttttn align-self-end mt-auto' target='_blank' style='position: relative; bottom: 0'>Read More</a></div></div></div></div></div >")
                        }

                    })

                    let progress = document.getElementById('progressbar')
                    let totalHeight = document.body.scrollHeight - window.innerHeight
                    window.onscroll = () => {
                        let progressHeight = (window.pageYOffset / totalHeight) * 100
                        progress.style.height = progressHeight + '%'
                    }
                })
            if (window.innerWidth <= 993) {
                document.getElementsByTagName("body")[0].style.padding = 0
            }
        }

    </script>
</body>

</html>