<!DOCTYPE html>
<html lang="en">

<head>
    <title>coronavirus24x7.com | Get Real Time Stats About COVID-19</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        section {
            font-size: 20px;
            padding: 12vh;
            padding-top: 4vh;
            padding-bottom: 8vh;
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 24px;
        }

        dd {
            padding: 2vh;
            padding-top: 1vh;
        }
    </style>
</head>

<body style="padding-top: 15vh;">
    <div id="progressbar"></div>
    <div id="scrollpath"></div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">CORONAWATCH<small>247</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {{navItem1State}}"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item {{navItem2State}}"><a href="tracker" class="nav-link">Live Tracker</a></li>
                    <li class="nav-item {{navItem3State}}"><a class="nav-link" href="graphs">Graphs</a></li>
                    <li class="nav-item {{navItem4State}}"><a href="global" class="nav-link">Global</a></li>
                    <li class="nav-item active {{navItem5State}}"><a class="nav-link" href="prevention">Prevention</a>
                    </li>
                    <li class="nav-item "><a href="future" class="nav-link">future</a></li>
                    <li class="nav-item "><a href="wiki" class="nav-link">Wiki</a></li>
                    <li class="nav-item {{navItem8State}}"><a href="news" class="nav-link">News</a></li>

                    <!-- <li class="nav-item cta"><a href="contact.html" class="nav-link"><span>Get started</span></a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <dl>
            <dt>
                <h1>How COVID-19 Spreads ?</h1>
            </dt>
            <dd>
                <ul>
                    <li>There is currently no vaccine to prevent coronavirus disease 2019 (COVID-19).
                    </li>
                    <li>The best way to prevent illness is to avoid being exposed to this virus.
                    </li>
                    <li>The virus is thought to spread mainly from person-to-person.
                    </li>
                    <ul>
                        <li>Between people who are in close contact with one another (within about 6 feet).
                        </li>
                        <li>Through respiratory droplets produced when an infected person coughs or sneezes.
                        </li>
                    </ul>
                    <li>These droplets can land in the mouths or noses of people who are nearby or possibly be inhaled
                        into the lungs.
            </dd>
            </li>
            </ol>
        </dl>
        <dl>
            <dt>
                <h1>Which steps to take to protect yourself ?</h1>
            </dt>
            <dd>
                <ul>
                    <li>
                        <h2>Clean your hands often</h2>
                        <ul>
                            <li>Wash your hands often with soap and water for at least 20 seconds especially after you
                                have been
                                in a public place, or after blowing your nose, coughing, or sneezing.
                            </li>
                            <li>If soap and water are not readily available, use a hand sanitizer that contains at least
                                60%
                                alcohol. Cover all surfaces of your hands and rub them together until they feel dry.
                            </li>
                            <li>Avoid touching your eyes, nose, and mouth with unwashed hands.
                            </li>Illustration: Woman quarantined to her home</h2>
                    </li>
                    </ul>
                    <li>
                        <h2>Avoid close contact</h2>
                        <ul>
                            <li>Avoid close contact with people who are sick
                            </li>
                            <li>Put distance between yourself and other people if COVID-19 is spreading in your
                                community. This
                                is especially important for people who are at higher risk of getting very sick.</ul>
                            </li>
                    </li>
                    </ol>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>
                <h1>Which steps to take to protect others</h1>
            </dt>
            <dd>
                <ul>
                    <li>Stay home if you’re sick</li>
                    <ul>
                    <li>Stay home if you are sick, except to get medical care. Learn what to do if you are sick.
                        woman covering their mouth when coughing</li>
                    </ul>
                    <li>Cover coughs and sneezes</li>
                    <ul> <li>Cover your mouth and nose with a tissue when you cough or sneeze or use the inside of your
                        elbow.
                        </li><li>Throw used tissues in the trash.
                        <li>Immediately wash your hands with soap and water for at least 20 seconds. If soap and water are
                       </li> not
                        readily available, clean your hands with a hand sanitizer that contains at least 60% alcohol.
                        man wearing a mask</li></ul>
                    <li>Wear a facemask if you are sick</li>
                    <ul> <li>If you are sick: You should wear a facemask when you are around other people (e.g., sharing a
                        room
                        or vehicle) and before you enter a healthcare provider’s office. If you are not able to wear a
                        facemask (for example, because it causes trouble breathing), then you should do your best to
                        cover
                        your coughs and sneezes, and people who are caring for you should wear a facemask if they enter
                        your
                        room. Learn what to do if you are sick.
                        </li><li>If you are NOT sick: You do not need to wear a facemask unless you are caring for someone who is
                        sick (and they are not able to wear a facemask). Facemasks may be in short supply and they
                        should be
                        saved for caregivers.
                        cleaning a counter</li></ul>
                    <li>Clean and disinfect</li>
                    <ul> <li>Clean AND disinfect frequently touched surfaces daily. This includes tables, doorknobs, light
                        switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.
                        </li><li>If surfaces are dirty, clean them: Use detergent or soap and water prior to disinfection.</li></ul>
                </ul>
            </dd>
        </dl>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is
                        developed with
                        ❤ by <a href="https://t.me/anikethirpara" target="_blank">Team Codershub</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" /></svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
    <script>
        window.onload = () => {
            let progress = document.getElementById('progressbar')
            let totalHeight = document.body.scrollHeight - window.innerHeight
            window.onscroll = () => {
                let progressHeight = (window.pageYOffset / totalHeight) * 100
                progress.style.height = progressHeight + '%'
            }
            if (window.innerWidth <= 993) {
                document.getElementsByTagName("body")[0].style.padding = 0
            }
        }

    </script>
    <script src='//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js'></script>
    <script>

        window.onload = () => {
            if (window.innerWidth <= 993) {
                document.getElementsByTagName("body")[0].style.padding = 0
            }
        }
    </script>
</body>

</html>